black
codecov
coverage
django
djangorestframework
django-cors-headers
django-extensions
django-filter
django-guardian
django-money
django-rest-auth[with_social]
flake8
invoke
ipdb
markdown
pytest==5.4.3
pytest-checkipdb==1.0.8
pytest-cov==2.10.0
pytest-django==3.9.0
